*:not(select) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: whitesmoke;
}

.App {
  display: flex;
  width: 90%;
  margin: 2% 5%;
}

.filter {
  margin-right: 40px;
  height: fit-content;
  position: sticky;
  position: -webkit-sticky;
  top: 100px;

}

.product-section {
  width: 100%;
}

.path-sort-section {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.path {
  font-weight: 600;
  color: grey;
}

.sort>select {
  padding: 8px 14px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px lightgrey;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}